In [185]:
import pandas as pd
import numpy as np
import ast
import re

In [186]:
df_credits = pd.read_csv('./credits (1).csv', sep = ',', header = 0)
df_credits.head(5)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [187]:
df_credits.info

<bound method DataFrame.info of                                                     cast  \
0      [{'cast_id': 14, 'character': 'Woody (voice)',...
1      [{'cast_id': 1, 'character': 'Alan Parrish', '...
2      [{'cast_id': 2, 'character': 'Max Goldman', 'c...
3      [{'cast_id': 1, 'character': "Savannah 'Vannah...
4      [{'cast_id': 1, 'character': 'George Banks', '...
...                                                  ...
45471  [{'cast_id': 0, 'character': '', 'credit_id': ...
45472  [{'cast_id': 1002, 'character': 'Sister Angela...
45473  [{'cast_id': 6, 'character': 'Emily Shaw', 'cr...
45474  [{'cast_id': 2, 'character': '', 'credit_id': ...
45475                                                 []

                                                    crew      id
0      [{'credit_id': '52fe4284c3a36847f8024f49', 'de...     862
1      [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...    8844
2      [{'credit_id': '52fe466a9251416c75077a89', 'de...   15602
3      [{'credit_id': '52fe44779251416c91011acb', 'de...   31357
4      [{'credit_id': '52fe44959251416c75039ed7', 'de...   11862
...                                                  ...     ...
45471  [{'credit_id': '5894a97d925141426c00818c', 'de...  439050
45472  [{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...  111109
45473  [{'credit_id': '52fe4776c3a368484e0c8387', 'de...   67758
45474  [{'credit_id': '533bccebc3a36844cf0011a7', 'de...  227506
45475  [{'credit_id': '593e676c92514105b702e68e', 'de...  461257

[45476 rows x 3 columns]>

In [188]:
df_credits.shape

(45476, 3)

In [190]:
df_credits.isnull().sum()

cast    0
crew    0
id      0
dtype: int64

In [191]:
df_credits.duplicated().sum()

37

Desanidamos las columnas CAST Y CREW

In [197]:

# Función para obtener los nombres de los directores a partir de una lista de diccionarios
def get_director_names(nested_list):
    directors = []  # Lista para almacenar los nombres de los directores
    result_str = ''  # Cadena para concatenar los nombres de los directores
    
    if isinstance(nested_list, list):  # Verificar que el argumento es una lista
        for record in nested_list:
            is_director = False  # Indica si se ha encontrado al director en el diccionario
            for key, value in record.items():
                if key == 'job' and value == 'Director':
                    is_director = True  # Se encontró al director en el diccionario
                if key == 'name' and is_director:
                    directors.append(value)
    else:
        directors.append("")

    result_str = ', '.join(directors)  # Concatenar los nombres con comas

    return result_str

:

In [ ]:
# Convierto los valores del campo "cast" a una lista de diccionarios
df_credits['cast'] = df_credits['cast'].apply(df)
# Obtengo el nombre de los actores y los guardo en una lista
df_credits['cast'] = df_credits['cast'].apply(df)