In [75]:
import pandas as pd
import numpy as np
import ast
import re

In [76]:
credits_dataset = './credits (2).csv'
df = pd. read_csv(credits_dataset)

/var/folders/6m/ttlbw90j17dbjwwktghwcq4c0000gn/T/ipykernel_65314/4077412790.py:2: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd. read_csv(credits_dataset)

In [77]:
# Mostramos las primeras 5 filas del DataFrame
df.head(5)

       cast_name       crew_name
0      Tom Hanks   John Lasseter
1      Tim Allen     Joss Whedon
2    Don Rickles  Andrew Stanton
3     Jim Varney      Joel Cohen
4  Wallace Shawn    Alec Sokolow

In [78]:
df.shape

(564892, 2)

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 564892 entries, 0 to 564891
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   cast_name  562474 non-null  object
 1   crew_name  464314 non-null  object
dtypes: object(2)
memory usage: 8.6+ MB

In [80]:
df.isnull().sum()

cast_name      2418
crew_name    100578
dtype: int64

In [81]:
df.duplicated().sum()

33268

Desanidamos las columnas CAST Y CREW

In [82]:
df.cast.nunique()

AttributeError: 'DataFrame' object has no attribute 'cast'

In [ ]:
import pandas as pd
import ast
import json

# Función para verificar y limpiar cadenas JSON
def safe_literal_eval(val):
    try:
        return ast.literal_eval(val)
    except (ValueError, SyntaxError):
        try:
            return json.loads(val)
        except (ValueError, json.JSONDecodeError):
            return None

# Cargar el archivo CSV en un DataFrame
df = pd.read_csv('./credits (2).csv')

# Asegúrate de que las columnas 'cast' y 'crew' existen
if 'cast' in df.columns and 'crew' in df.columns:
    # Convierte las cadenas JSON a listas de diccionarios
    df['cast'] = df['cast'].apply(safe_literal_eval)
    df['crew'] = df['crew'].apply(safe_literal_eval)

    # Desanidar la columna 'cast'
    df_cast = df[['cast']].explode('cast').reset_index(drop=True)
    df_cast['cast_name'] = df_cast['cast'].apply(lambda x: x['name'] if isinstance(x, dict) else None)
    df_cast.drop(columns='cast', inplace=True)  # Si quieres eliminar la columna original 'cast'

    # Desanidar la columna 'crew'
    df_crew = df[['crew']].explode('crew').reset_index(drop=True)
    df_crew['crew_name'] = df_crew['crew'].apply(lambda x: x['name'] if isinstance(x, dict) else None)
    df_crew.drop(columns='crew', inplace=True)  # Si quieres eliminar la columna original 'crew'

    # Combina los DataFrames desanidados
    df_desanidado = pd.concat([df_cast, df_crew], axis=1)

    # Muestra el DataFrame resultante
    print(df_desanidado)

    # Guarda el DataFrame resultante en un nuevo archivo CSV si es necesario
    df_desanidado.to_csv('./credits (2).csv', index=False)

                cast_name       crew_name
0               Tom Hanks   John Lasseter
1               Tim Allen     Joss Whedon
2             Don Rickles  Andrew Stanton
3              Jim Varney      Joel Cohen
4           Wallace Shawn    Alec Sokolow
...                   ...             ...
564887  Nathalie Lissenko             NaN
564888       Pavel Pavlov             NaN
564889  Aleksandr Chabrov             NaN
564890        Vera Orlova             NaN
564891               None             NaN

[564892 rows x 2 columns]

In [ ]:
df.cast.nunique()